.carousel-inner{
  height: 500px;
  width: 500px;

}
#img{
  height: 25px;
}
body{
  
  margin: auto 0;
  background-image: url("./images/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 700px;

}
@media(max-width: 768px){
	.input-group{
		margin-bottom: 5px;
	}
}
.brand{
	max-height: 25px;
}
#font{
	color: gray;
	
}
#fonts{
	color: brown;

}

.container{
	width: 500px;
}